/* Style Sheet */

<!--
/* HTML Tags */
    body {
        background-color: transparent;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    h3 {
        font: 20px "Lato", sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #111111;
    }
    
/* ID Tags */
    /* Body Containers */
    #overlay {
        background-color: #a5a5a5;
        position: fixed;
        margin: auto;
        top: 0; 
        opacity: 0.2;
        z-index: 3;
        width: 100%;
        height: 140px;
    }
    #h_Container {
        position: fixed;
        margin: auto;
        opacity: 1;
        z-index: 4;
        height: 180px;
        width: 100%;
        color: #ffffff;
    }
    #b_Container {
        margin: auto;
        opacity: 1;
        z-index: 5;
        height: 660px;
        width: 100%;
        padding-top: 180px;
        color: #ffffff;
    }
    /* Header */
    #header {
        background-image: url("../images/header.jpg");
        background-color: #7b99a1;
        height: 140px;
        opacity: 1;
        text-align: center;
        font-size: 100px;
        font-family: monospace;
    }
    #h_Title {
        margin: auto;
    }
    #h_Box {
        background-color: #565656;
        margin-top: 0px;
        height: 40px;
        opacity: 1;
        text-align: center;
        font-size: 20px;
        font-family: monospace;
        letter-spacing: 2px;
    }
    #h_Button1, #h_Button2, #h_Button3, #h_Button4 {
        position: absolute;
        margin-top: 7px;
    }
    #h_Button1 {
        margin-left: -500px;
    }
    #h_Button2 {
        margin-left: -270px;
    }
    #h_Button3 {
        margin-left: 20px;
    }
    #h_Button4 {
        margin-left: 410px;
    }
    #aboutPeter {
        position: absolute;
        margin-top: -215px;
    }
    /* Body Elements */
    #text_Boxes1, #text_Boxes2, #text_Boxes3 {
        background-color: #ffffff;
        margin: auto;
        padding: 30px 80px 80px 80px;
        border-top-style: inset;
        border-right-style: inset;
        border-bottom-style: inset;
        border-left-style: inset;
        opacity: 1;
        color: #777777;
        text-align: justify;
    }
    #text_Boxes1 {
        height: 260px;
        color: #777777;
    }
    #text_Boxes2 {
        height: 105px;
        width: 80%;
        border-bottom-style: none;
        color: #000000;
    }
    #text_Boxes3 {
        height: 105px;
        width: 80%;
        border-top-style: none;
        color: #000000;
    }
    #h_Align1, #h_Align2 {
        text-align: center;
        margin-left: -230px;
    }
    #h_Align2 {
        color: #000000;
    }
    #headShot {
        background-color: transparent;
        position: inherit;
        height: auto;
        width: 30%;
        opacity: 1;
        margin-top: 10px;
        margin-right: -10px;
        float: right;
        border: groove;
    }
    #iframe {
        width: 68%;
        height: 120%;
        border: none;
    }
    #cust_Border {
        background-color: transparent;
        opacity: 1;
        font-size:25px;
        color: #ffffff;
    }
    /* Miscellaneous */
    #posRel {
        position: relative;
    }

/* Class Tags */
    .sticky {
        opacity: 1;
        top: 0;
        z-index: 2;
        width: 100%;
    }
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bgimg-1 {
        background-image: url("../images/img_parallax5.jpg");
        min-height: 76.5%;
    }
    .bgimg-2 {
        background-image: url("../images/img_parallax2.jpg");
        min-height: 76.5%;
    }
    .bgimg-3 {
        background-image: url("../images/img_parallax3.jpg");
        min-height: 50%;
    }
    .bgimg-4 {
        background-image: url("../images/img_parallax4.jpg");
        min-height: 76.5%;
    }
    .bgimg-5 {
        background-image: url("../images/img_parallax5.jpg");
        min-height: 76.5%;
    }
    .caption {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        text-align: center;
        color: #000000;
    }
    .caption span.border {
        background-color: #1f1f1f;
        padding: 18px;
        opacity: .9;
        color: #ffffff;
        font-size: 25px;
        letter-spacing: 10px;
    }
    
/* Phone paralax scrolling */
    @media only screen and (max-device-width: 1024px) {
        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
            background-attachment: scroll;
        }
    }
    
/* Links */ 
    a:link {
        color: #ffffff;
        text-decoration: none;
    }

    a:visited {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        color: #28313c;
        text-decoration: none;
    }

    a:active {
        color: #28313c;
        text-decoration: none;
    }
-->