/* Style Sheet */

<!--
/* HTML Tags */
    body {
        background-color: transparent;
        width: 100%;
        min-width: 1050px;
        height: 100%;
        min-height: 750px;
        padding: 0;
        margin: 0;
        z-index: 1;
        font: 13.2px 'Lato', Avenir;
        font-weight: 500;
        font-style: normal;
        font-size: 26px;
        letter-spacing: 10px;
        line-height: 1.4em;
        text-transform: none;
    }
    h3 {
        font: 20px "Lato", sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #111111;
    }
    
/* ID Tags */
    /* Body Containers */
    #overlay {
        background-color: #a5a5a5;
        position: fixed;
        margin: auto;
        top: 0; 
        opacity: .3;
        z-index: 3;
        width: 100%;
        height: 116px;
    }
    #h_Container {
        position: fixed;
        margin: auto;
        opacity: 1;
        z-index: 4;
        height: 180px;
        width: 100%;
        min-width: 1050px;
        color: #ffffff;
    }
    #b_Container {
        margin: auto;
        opacity: 1;
        z-index: 5;
        height: 660px;
        width: 100%;
        min-width: 1050px;
        padding-top: 180px;
        color: #ffffff;
    }
    #footer {
        position: fixed;
        margin: auto;
        opacity: 1;
        z-index: 4;
        height: 180px;
        width: 100%;
        min-width: 1050px;
        color: #ffffff;
    }
    /* Header */
    #header {
        background-image: url("../images/header.jpg");
        background-position: center;
        background-size: cover;
        background-color: #7b99a1;
        height: 150px;
        width: 100%;
        opacity: 1;
        text-align: center;
        margin: auto;
    }
    #h_Title {
        width: 1000px;
        margin: auto;
        margin-top: 0px;
        text-transform: uppercase;
        font-size: 100px;
        letter-spacing: 15px;
        line-height: 120px;
    }
    #h_Box {
        background-color: #565656;
        margin-top: -34px;
        height: 35px;
        width: 100%;
        opacity: 0.95;
        text-align: center;
        letter-spacing: 5px;
        font: 17px "Lato", sans-serif;
    }
    #h_Button1, #h_Button2, #h_Button3, #h_Button4 {
        position: absolute;
        width: 270px;
        min-width: 270px;
        margin-top: 8px;
        text-transform: uppercase;
    }
    #h_Button1 {
        margin-left: -44%;
    }
    #h_Button2 {
        margin-left: -25%;
    }
    #h_Button3 {
        margin-left: 0%;
    }
    #h_Button4 {
        margin-left: 23%;
    }
    /* Body Elements */
    #text_Boxes1, #text_Boxes2, #text_Boxes3 {
        background-color: #ffffff;
        margin: auto;
        padding: 30px 80px 80px 80px;
        border-top-style: inset;
        border-right-style: inset;
        border-bottom-style: inset;
        border-left-style: inset;
        opacity: 1;
        color: #777777;
        text-align: justify;
    }
    #text_Boxes1 {
        height: 260px;
        color: #777777;
    }
    #text_Boxes2 {
        height: 105px;
        width: 80%;
        border-bottom-style: none;
        color: #000000;
    }
    #text_Boxes3 {
        height: 105px;
        width: 80%;
        border-top-style: none;
        color: #000000;
        margin-top: -40px;
    }
    #h_Align1, #h_Align2, #h_Align3 {
        text-align: center;
        margin-left: -230px;
    }
    #h_Align2 {
        margin-left: -420px;
        color: #000000;
    }
    #h_Align3 {
        margin-left: -120px;
        color: #000000;
    }
    #aboutPeter {
        position: absolute;
        margin-top: -220px;
        width: 80%;
        min-width: 670px;
    }
    #ap_Container {
        position: absolute;
        min-width: 1240px;
    }
    #headShot {
        background-color: transparent;
        position: inherit;
        height: auto;
        width: 30%;
        min-width: 310px;
        opacity: 1;
        margin-top: 10px;
        margin-right: -50px;
        float: right;
        border: groove;
    }
    #iframe1, #iframe2 {
        position: absolute;
        margin-left: -60px;
        min-height: 200px;
        width: 62%;
        border: none;
    }
    #iframe1 {
        min-width: 770px;
    }
    #iframe2 {
        min-width: 670px;
    }
    #cust_Border {
        background-color: transparent;
        opacity: 1;
        font-size: 25px;
        color: #ffffff;
    }
    /* Miscellaneous */
    #posRel {
        position: relative;
    }

/* Class Tags */
    .sticky {
        opacity: 1;
        top: 0;
        z-index: 2;
        width: 100%;
    }
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        margin-top: -40px;
        position: relative;
        opacity: 1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 88%;
    }
    .bgimg-1 {
        background-image: url("../images/img_parallax5.jpg");
    }
    .bgimg-2 {
        background-image: url("../images/img_parallax2.jpg");
    }
    .bgimg-3 {
        background-image: url("../images/img_parallax3.jpg");
    }
    .bgimg-4 {
        background-image: url("../images/img_parallax4.jpg");
    }
    .bgimg-5 {
        background-image: url("../images/img_parallax5.jpg");
    }
    .caption {
        position: absolute;
        width: 100%;
        left: 0;
        top: 45%;
        text-align: center;
        color: #000000;
    }
    .caption span.border {
        background-color: #1f1f1f;
        padding: 18px;
        opacity: .9;
        color: #ffffff;
        font-size: 25px;
        letter-spacing: 10px;
    }
    
/* Phone paralax scrolling */
    @media only screen and (max-device-width: 1024px) {
        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
            background-attachment: scroll;
        }
    }
    
/* Links */ 
    a:link {
        color: #ffffff;
        text-decoration: none;
    }

    a:visited {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        color: #28313c;
        text-decoration: none;
    }

    a:active {
        color: #28313c;
        text-decoration: none;
    }
-->